Inputs/**/*.xml
Outputs/hansard/**/*.csv
Outputs/saved_hansard/**/*.csv
Outputs/**/*.sh
**/*.png
**/*.pdf
**/*.txt
**/*.pyc
**/*.html
**/*.zip
**/*.tar.gz
Inputs/hansard/download_utils.jl
Analysis/*
/docs/build/
Manifest.toml
